<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    {% extends 'base.html' %}
    {% block content %}
    <h3>Book Appointment</h3>
    <form method="post">{% csrf_token %}
        <input type="date" name="date" class="form-control mb-2">
        <input type="time" name="time" class="form-control mb-2">
        <textarea name="message" class="form-control mb-2"></textarea>
        <button class="btn btn-success">Book</button>
    </form>
    {% endblock %}
</body>

</html>