<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    {% extends 'base.html' %}
    {% block content %}
    <h3>Select Teacher</h3>
    <table class="table">
        {% for t in teachers %}
        <tr>
            <td>{{t.user.username}}</td>
            <td>{{t.subject}}</td>
            <td><a href="/book/{{t.user.id}}/" class="btn btn-primary">Book</a></td>
        </tr>
        {% endfor %}
    </table>
    {% endblock %}
</body>

</html>