<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    {% extends 'base.html' %}
    {% block content %}
    <h3>Teacher Dashboard</h3>
    <table class="table">
        {% for a in appointments %}
        <tr>
            <td>{{a.student}}</td>
            <td>{{a.date}}</td>
            <td>{{a.status}}</td>
            <td><a href="/approve-appointment/{{a.id}}" class="btn btn-primary">Approve</a></td>
        </tr>
        {% endfor %}
    </table>
    {% endblock %}
</body>

</html>